<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>Библиотека</h3>
        </div>
    </div>
    <div class="row">
        <hr>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <input type="search" class="form-control" placeholder="Название книги" ng-model="name">
        </div>
        <div class="col-lg-8 add-user-wrapper">
            <a class="btn btn-success btn-sm" type="button" ng-click="go('/add')">Добавить книгу</a>
        </div>
    </div>
    <div class="row v-indent-12"></div>
    <div class="row">
        <div class="col-lg-12">
            <div class="table-wrapper">

                <table class="table table-bordered table-hover">
                    <thead>
                    <th class="number">#</th>
                    <th>Название</th>
                    <th>Автор</th>
                    <th>Количество страниц</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="book in books | filter:name" ng-click="edit(book.id)">
                        <td>{{book.id}}</td>
                        <td>{{book.name}}</td>
                        <td>
                            {{book.author}}
                        </td>
                        <td>
                            {{book.pages}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div style="text-align: center">
            <nav>
                <ul class="pagination">
                    <li data-ng-repeat="n in range(1, pages)" ng-class="n == activePage ? 'active' : ''" ng-click="showPage(n)">
                        <a class="test" href="#">{{n}}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <footer class="footer">
        <p>&copy; 2016 Hello Angular!!!</p>
    </footer>

</div><!-- /container -->